
body{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: #75f5ff;
    
}
nav{
    word-spacing: 150px;
    padding: 20px;
    background-color: #32d0ff;
    text-align: center;
}
nav a{
    text-decoration: none;
    

}
nav a:link{
    color: black;
}
nav a:visited{
    color: black;
}
nav a:hover{
    color: white;
}
dl{
    font-weight: bold;
}
hr{
    color: #3d8eff;
}